<div class="row">
  <div class="col-md 12">
    <router-outlet></router-outlet>
  </div>
</div>
<div class="row">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>Template-Driven</h3>
    <form (ngSubmit)="onSubmit(formRef)" #formRef="ngForm">
      <div class="user-data" ngModelGroup="user-data" #userData="ngModelGroup">
        <div class="form-group">
          <label for="username" class="label">Username</label>
          <input
            type="text"
            id="username"
            ngModel
            name="username"
            class="form-control"
            required
            #username="ngModel"
          />
          <small class="help-block" *ngIf="!username.valid && username.touched"
            >Please enter the username</small
          >
        </div>
        <button
          class="btn btn-warning"
          type="button"
          (click)="onSuggestUsername()"
        >
          Suggest an Username
        </button>
        <div class="form-group">
          <label for="mail" class="label">Mail</label>
          <input
            type="email"
            id="mail"
            ngModel
            name="mail"
            class="form-control"
            required
            email
            #email="ngModel"
          />
          <small class="help-block" *ngIf="!email.valid && email.touched"
            >Please enter a valid email.</small
          >
        </div>
        <div class="form-group">
          <label for="gender">Gender</label>
          <div class="radio" *ngFor="let gender of genders">
            <label>
              <input
                type="radio"
                [id]="gender"
                name="gender"
                ngModel
                required
                [value]="gender"
              />
              {{ gender }}
            </label>
          </div>
        </div>
      </div>
      <small *ngIf="!userData.valid && userData.touched"
        >User data is invalid.</small
      >
      <div class="form-group">
        <label for="secret" class="label">Secret Questions</label>
        <select
          id="secret"
          [ngModel]="defaultQuestion"
          name="secret"
          class="form-control"
        >
          <option value="pet">Your first Pet?</option>
          <option value="teacher">Your first Teacher?</option>
        </select>
      </div>
      <div class="form-group">
        <textarea
          name="answer"
          class="form-control"
          id="answer"
          rows="2"
          [(ngModel)]="answer"
        ></textarea>
        <small *ngIf="answer">Your answer: {{ answer }}</small>
        <!-- <small *ngIf="!answer.valid && answer.touched"
            >Please answer the question.</small
          > -->
      </div>
      <button [disabled]="!formRef.valid" class="btn btn-primary" type="submit">
        Submit
      </button>
    </form>
  </div>
</div>
<hr />
<div class="row" *ngIf="formRef.submitted">
  <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2">
    <h3>User Info:</h3>
    <p>Username: {{ userinfo.username }}</p>
    <p>Email: {{ userinfo.email }}</p>
    <p>Gender: {{ userinfo.gender }}</p>
    <p>User's first: {{ userinfo.secret }}</p>
    <p>Answer: {{ userinfo.secretAnswer }}</p>
  </div>
</div>
