<div class="container">
  <div class="row">
    <div class="col-md-12">
      <ul>
        <li>
          <a [routerLink]="['template-driven']"> Template-Driven Approach </a>
        </li>
        <li>
          <a [routerLink]="['template-driven', 'assignment']">
            Template Assignment
          </a>
        </li>
        <li>
          <a [routerLink]="['reactive']"> Reactive Approach </a>
        </li>
        <li>
          <a [routerLink]="['reactive', 'assignment']"> Reactive Assignment </a>
        </li>
      </ul>
    </div>
  </div>
  <hr />
  <div class="div">
    <div class="col-md-12">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
