<div class="row">
  <div class="col-md-12">
    <form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
      <div formGroupName="userData">
        <div class="form-group">
          <label for="username" class="label">Username</label>
          <input
            type="text"
            id="username"
            class="form-control"
            formControlName="username"
          />
          <div
            *ngIf="
              !loginForm.get('userData.username').valid &&
              loginForm.get('userData.username').touched
            "
          >
            <div *ngFor="let message of getErrorMessages('userData.username')">
              <small class="error-message">{{ message }}</small>
              <br />
            </div>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="email" class="label">Email</label>
        <input
          type="email"
          id="email"
          formControlName="email"
          class="form-control"
        />
        <div
          *ngIf="
            !loginForm.get('email').valid && loginForm.get('email').touched
          "
        >
          <div *ngFor="let message of getErrorMessages('email')">
            <small class="error-message">{{ message }}</small>
            <br />
          </div>
        </div>
      </div>
      <div formGroupName="userData">
        <div class="form-group">
          <label for="gender" class="label">Gender</label>
          <div *ngFor="let gender of genders">
            <label [for]="gender" class="label">
              <input
                type="radio"
                [id]="gender"
                [value]="gender"
                formControlName="gender"
              />
              {{ gender }}
            </label>
          </div>
        </div>
      </div>
      <div class="form-group" formArrayName="hobbies">
        <div class="hobbies-header">
          <h4>Hobbies</h4>
          <button
            type="button"
            (click)="onAddHobbie()"
            class="btn btn-sm btn-warning"
          >
            New Hobbie
          </button>
        </div>
        <div
          class="hobbies-body input-group mb-3"
          *ngFor="
            let hobbie of this.loginForm.get('hobbies')['controls'];
            let i = index
          "
        >
          <span class="input-group-text">{{ i + 1 + "º Hobbie" }}</span>
          <input
            type="text"
            [name]="loginForm.get('hobbies')['controls'][i]"
            [formControlName]="i"
            class="form-control"
          />
        </div>
      </div>
      <small *ngIf="!loginForm.valid && loginForm.touched">
        The for is invalid
      </small>
      <div class="form-group">
        <!-- [disabled]="!loginForm.valid" -->
        <button class="btn btn-sm btn-primary">Submit</button>
      </div>
    </form>
  </div>
</div>
